<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chord Progression Generator</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Noto+Music&family=Oxygen:wght@300;400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/chordgen.css">
    <script type="module" src="/static/js/chordgen.js" defer></script>
</head>

<body>

    <!-- this is the test code I'm building to have an interactive piano on the webpage -->
    <div class="bigPianoWrap">
        <div class="pianoWrap">

            <div class="white-keys">
                <div id="C3-key" class="white-key white"></div>
                <div id="D3-key" class="white-key white1"></div>
                <div id="E3-key" class="white-key white2"></div>
                <div id="F3-key" class="white-key white3"></div>
                <div id="G3-key" class="white-key white4"></div>
                <div id="A3-key" class="white-key white5"></div>
                <div id="B3-key" class="white-key white6"></div>
                <div id="C4-key" class="white-key white7"></div>
                <div id="D4-key" class="white-key white8"></div>
                <div id="E4-key" class="white-key white9"></div>
                <div id="F4-key" class="white-key white10"></div>
                <div id="G4-key" class="white-key white11"></div>
                <div id="A4-key" class="white-key white12"></div>
                <div id="B4-key" class="white-key white13"></div>
            </div>

            <div class="black-keys">
                <div id="C#3-key" class="black-key black"></div>
                <div id="D#3-key" class="black-key black1"></div>
                <div id="F#3-key" class="black-key black2"></div>
                <div id="G#3-key" class="black-key black3"></div>
                <div id="A#3-key" class="black-key black4"></div>
                <div id="C#4-key" class="black-key black5"></div>
                <div id="D#4-key" class="black-key black6"></div>
                <div id="F#4-key" class="black-key black7"></div>
                <div id="G#4-key" class="black-key black8"></div>
                <div id="A#4-key" class="black-key black9"></div>
            </div>

            <div class="popProg">
                <a class="minDesc">Pop:</a>
                <div class="minSwitch">
                    <label class="switch">
                        <input id="pop-slider" type="checkbox">
                        <span class="popSwitch slider round"></span>
                    </label>
                </div>
            </div>

            <div class="generatedProgression">
                <p class="progDesc">Progression:</p>
                <p class="progChords" id="progression"></p>
                <div class="genIndChords">
                    <p id="chord1" class="chordz"></p>
                    <p id="chord2" class="chordz"></p>
                    <p id="chord3" class="chordz"></p>
                    <p id="chord4" class="chordz"></p>
                    <p id="chord5" class="chordz"></p>
                    <p id="chord6" class="chordz"></p>
                </div>
            </div>
            <div class="generatedKey">
                <p class="progKey">Key:</p>
                <p id="selectedKey" class="selectedKey"></p>
            </div>
            <a class="button play" id="generate-button">Generate!</a>

        </div>
        <p id="treble" class="treble">&#119070;</p>
        <p id="bass" class="bass">&#119074;</p>
        <p id="flat" class="flat">&flat;</p>
        <p id="sharp" class="sharp">&#x266F;</p>
        <p id="sixteenth" class="sixteenth">&#119137;</p>
        <p id="sixteenthRest" class="sixteenthRest">&#119103;</p>
    </div>

    <a class="minor">Check for a minor progression:</a>
    <label class="switch">
        <input class="minor" id="minor-slider" type="checkbox">
        <span class="minor" class="slider round"></span>
    </label>

    <audio id="generated-progression" controls style="display:none">
        <source id="generated-progression-source" src="" type="audio/wav">
    </audio>

    <audio id="C3-audio">
        <source src="/static/soundfiles/C3.wav" type="audio/wav">
    </audio>
    <audio id="C#3-audio">
        <source src="/static/soundfiles/C%233.wav" type="audio/wav">
    </audio>
    <audio id="D3-audio">
        <source src="/static/soundfiles/D3.wav" type="audio/wav">
    </audio>
    <audio id="D#3-audio">
        <source src="/static/soundfiles/D%233.wav" type="audio/wav">
    </audio>
    <audio id="E3-audio">
        <source src="/static/soundfiles/E3.wav" type="audio/wav">
    </audio>
    <audio id="F3-audio">
        <source src="/static/soundfiles/F3.wav" type="audio/wav">
    </audio>
    <audio id="F#3-audio">
        <source src="/static/soundfiles/F%233.wav" type="audio/wav">
    </audio>
    <audio id="G3-audio">
        <source src="/static/soundfiles/G3.wav" type="audio/wav">
    </audio>
    <audio id="G#3-audio">
        <source src="/static/soundfiles/G%233.wav" type="audio/wav">
    </audio>
    <audio id="A3-audio">
        <source src="/static/soundfiles/A3.wav" type="audio/wav">
    </audio>
    <audio id="A#3-audio">
        <source src="/static/soundfiles/A%233.wav" type="audio/wav">
    </audio>
    <audio id="B3-audio">
        <source src="/static/soundfiles/B3.wav" type="audio/wav">
    </audio>
    
    <audio id="C4-audio">
        <source src="/static/soundfiles/C4.wav" type="audio/wav">
    </audio>
    <audio id="C#4-audio">
        <source src="/static/soundfiles/C%234.wav" type="audio/wav">
    </audio>
    <audio id="D4-audio">
        <source src="/static/soundfiles/D4.wav" type="audio/wav">
    </audio>
    <audio id="D#4-audio">
        <source src="/static/soundfiles/D%234.wav" type="audio/wav">
    </audio>
    <audio id="E4-audio">
        <source src="/static/soundfiles/E4.wav" type="audio/wav">
    </audio>
    <audio id="F4-audio">
        <source src="/static/soundfiles/F4.wav" type="audio/wav">
    </audio>
    <audio id="F#4-audio">
        <source src="/static/soundfiles/F%234.wav" type="audio/wav">
    </audio>
    <audio id="G4-audio">
        <source src="/static/soundfiles/G4.wav" type="audio/wav">
    </audio>
    <audio id="G#4-audio">
        <source src="/static/soundfiles/G%234.wav" type="audio/wav">
    </audio>
    <audio id="A4-audio">
        <source src="/static/soundfiles/A4.wav" type="audio/wav">
    </audio>
    <audio id="A#4-audio">
        <source src="/static/soundfiles/A%234.wav" type="audio/wav">
    </audio>
    <audio id="B4-audio">
        <source src="/static/soundfiles/B4.wav" type="audio/wav">
    </audio>
    <audio id="C5-audio">
        <source src="/static/soundfiles/C5.wav" type="audio/wav">
    </audio>

    <footer>
        <div class="bigWrapper">
            <div class="wrapper">
                <p class="copyright">&#169;2022-2025</p>
                <a class="jmountford" target="blank" href="https://jmountford.dev">jmountford.dev</a>
            </div>
        </div>
    </footer>

</body>

</html>